{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "prettier",
        "plugin:deprecation/recommended"
    ],
    "overrides": [
        {
            "files": ["*"],
            "rules": {
                "import/prefer-default-export": "off",
                "no-new": "off",
                "no-restricted-syntax": "off",
                "no-underscore-dangle": "off",
                "no-await-in-loop": "off",
                "no-plusplus": "off",
                "no-param-reassign": "off", // no benefit
                "class-methods-use-this": "off",
                "deprecation/deprecation": "warn"
            }
        }
    ]
}
